css


/* Basic reset and container */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #ff6600 0%, #f8b500 50%, #ff6600 100%);
  margin: 0;
  padding: 0;
  color: #333;

}

.container, #app, main {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: auto;
  background: linear-gradient(to right, #f8b500 25%, #ffad33 50%, to left, #ff6600 25%);
  border-radius: 20px;
  padding: 25px;
 

}

/* Header */
header h1 {
  color: #cc0000;
  font-size: 2.5em;
  margin-bottom: 0;
  text-align: center;

}

header h2 {
  text-align: center;
  color: #2c3e50;
}

.wip-banner {
  text-align: center;
}


header p {
  font-size: 1.2em;
  margin-top: 5px;
  color: #ff9900;
}

.profile-pic {
  display: block;
  margin: 20px auto;
  width: 85px;
  border-radius: 0%;
  border: 3px #2c3e50;
}

/* Tabs */
.tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #ffb366;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #ff884d;
}

.tab-button.active {
  background-color: #ff1a1a;
  color: white;
}

/* Tab content */
.tab-content {
  display: none;
  animation: fadeIn 0.5s ease forwards;
}

.tab-content.active {
  display: block;
}

/* Fade in animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}







